<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
  <label>
    Nome:
    <input type="text" formControlName="firstName">
  </label>

  <span 
  class="alert"
  *ngIf="cadastroForm.get('firstName')?.errors && (cadastroForm.get('firstName')?.touched && cadastroForm.get('firstName')?.dirty)">
      Favor adicionar o nome
  </span>
  <br>
  <br>
  <label>
    Sobrenome:
    <input type="text" formControlName="lastName">
  </label>
  <br>
  <br>
  <label>
    Email:
    <input type="email" formControlName="email">
  </label>
  <p>
    <!-- {{ cadastroForm.get('firstName')?.value }} -->
    <!-- {{ cadastroForm.get('firstName')?.errors | json }}
  {{ cadastroForm.get('firstName')?.touched | json }}
  {{ cadastroForm.get('firstName')?.dirty | json }} -->
  <!-- {{ cadastroForm.get('lastName')?.errors | json }} -->

  {{ cadastroForm.get('email')?.errors | json }}

</p>

<button [disabled]="cadastroForm.get('email')?.errors">Enviar</button>
</form>
